@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;900&display=swap");

$colorBorder: rgba(229, 229, 229, 1);
$colorBgMain: #f0f2f5;
$colorRed: rgba(241, 40, 74, 1);
$colorGreen: rgba(68, 189, 98, 1);
$colorViolet: rgba(157, 109, 252, 1);
$colorBlack: rgba(5, 5, 5, 1);
$colorFontBlue: #4178f2;
$colorFontHeader: #5f6771;

$headerHeight: 56px;

$avatarSize: 3rem;
body {
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
    background-color: $colorBgMain;
    color: $colorBlack;
}

@media (max-width: 750px) {
    .avatar {
        width: $avatarSize;
        height: $avatarSize;
        border-radius: $avatarSize;
    }

    .main-header {
        display: none;
    }
    header.mobile-main-header {
        // border: 1px solid red;
        background-color: rgba(254, 254, 255, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $colorBorder;
        padding: 0.5rem;

        .mobile-main--logo {
            width: 200px;
        }

        .mobile-main-header--menu {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mobile-main-header--item {
            height: 36px;
            width: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(228, 230, 235, 1);
            border-radius: 36px;
            margin-left: 0.5rem;

            i {
                color: rgba(5, 5, 5, 1);
            }

            a:link,
            a:visited {
                color: rgba(5, 5, 5, 1);
            }
            // outline: 1px dashed red;
        }

        .mobile-main-header--link {
            font-size: 100px;
        }

        // tests
        div.mobile-main-header--left {
            // outline: 1px dashed red;
        }
        div.mobile-main-header--left {
            // outline: 1px dashed red;
        }

        .mobile-main-header--menu {
            // outline: 1px dashed orange;
        }
    }

    section.say-something {
        // outline: 1px solid red;
        background-color: #fff;
        border-bottom: 1px solid $colorBorder;
        margin-bottom: 14px;

        .up {
            padding: 1.5rem 0.5rem;
            display: flex;
            align-items: center;

            form {
                padding-left: 0.5rem;
                // outline: 1px dashed gray;
                display: flex;
                width: 100%;

                input {
                    border: none;
                    width: 100%;
                    padding: 0.5rem;
                    color: black;
                    outline: none;
                    font-size: 1.2rem;
                    letter-spacing: 0.02rem;
                }
                input::placeholder {
                    color: black;
                    letter-spacing: 0.02rem;
                }
            }
        }

        .down {
            // outline: 1px solid red;

            .say-something--menu {
                list-style: none;
                display: flex;
                justify-content: space-around;
                border-top: 1px solid $colorBorder;

                // outline: 1px dashed red;
                & li:first-child > a > i {
                    color: $colorRed;
                }
                & li:nth-child(2) > a > i {
                    color: $colorGreen;
                }
                & li:nth-child(3) > a > i {
                    color: $colorViolet;
                }
            }

            .say-something--item {
                border-left: 1px solid $colorBorder;
                margin: 0.5rem 0;
                width: 100%;
                text-align: center;
            }

            .say-something--link {
                text-decoration: none;
                color: $colorBlack;
                font-weight: 600;
                & > i {
                    margin-right: 0.5rem;
                }
            }
        }
    }

    section.rooms {
        // outline: 1px solid red;
        background-color: #fff;
        border-bottom: 1px solid $colorBorder;
        margin-bottom: 14px;
    }
}

@media (min-width: 751px) {
    header.mobile-main-header {
        display: none;
    }

    .main-header {
        height: $headerHeight;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        position: relative;

        &--left {
            display: flex;
            align-items: center;
            // outline: 1px dashed red;
            height: 100%;

            .main-logo {
                height: 40px;
                border-radius: 50%;
                // outline: 1px orange dashed;
                margin-right: 1rem;
            }

            a.form-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                // outline: 1px dashed red;
                width: 40px;
                height: 40px;
                text-decoration: none;
                color: $colorFontHeader;
            }

            .fa-search {
                background-color: #f0f2f5;
                height: 40px;
                width: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 25px;
            }

            form {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                outline: 2px dashed orange;
                background-color: #fff;
                min-height: $headerHeight;
                // display: none;    /*     <--------- close search form */

                input {
                    flex-shrink: 1;
                    height: 40px;
                    width: 250px;
                    // margin: 0;
                    border-radius: 25px;
                    background-color: #f0f2f5;
                    color: #5f6771;
                    outline: none;
                    border: none;
                    padding-left: 1rem;
                    line-height: $headerHeight;
                    margin-left: 0.5rem;
                }

                .fa-arrow-left {
                    display: bloc;
                    z-index: 1000;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 25px;

                    &:hover {
                        background-color: #f0f2f5;
                    }
                }
            }
        }

        .main-menu {
            display: flex;
            line-height: 56px;
            list-style: none;
            height: 56px;

            li {
                height: 100%;
                width: 7.8rem;
                // padding: 0 3rem;
                font-size: 1.5rem;
                // outline: 1px solid red;
                text-align: center;

                .active {
                    color: $colorFontBlue;
                    border-bottom: 2px solid $colorFontBlue;
                    display: block;
                    width: 100%;
                    height: calc(100% - 2px);
                }

                a {
                    color: #606266;
                    font-weight: 300;
                }

                &:hover {
                    background-color: #f2f2f2;
                    border-radius: 15%;
                    height: 90%;
                    margin: auto;
                }
            }
        }

        &--right {
            ul {
                display: flex;
                text-align: center;
                list-style: none;

                li {
                    margin: 0 0.5rem;
                    background-color: #d8dade;
                    height: 40px;
                    width: 40px;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;

                    &:first-child {
                        font-size: 0.6rem;
                        background: none;
                        margin-right: 2rem;
                        font-weight: 500;
                    }

                    a {
                        color: #050505;
                        font-size: 1.2rem;
                        text-decoration: none;

                        .fas {
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1245px) {
    // Pełny formularz wyszukiwania w headerze
    .main-header {
        &--left {
            form {
                .fa-search {
                    border-radius: 25px 0 0 25px;
                }

                input {
                    display: block;
                }
            }
        }
    }
}

@media (min-width: 1500px) {
}
