@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 320px) {
  body {
    background-color: #c9ccd1;
  }
  .headerNav__mobile {
    position: fixed;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    width: 100vw;
    background-color: #fff;
  }
  .headerNav__mobile > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .headerNav__link {
    font-size: 1.4rem;
    color: #65676b;
    padding: 1rem;
  }
  .headerNav__link:hover {
    color: #1877f2;
    border-top: 3px solid #1877f2;
  }
  header {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header img {
    width: 40%;
    height: 40%;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
  header ul > li {
    margin: 0 6px;
    padding: 8px;
    background-color: #e4e6eb;
    border-radius: 50%;
  }
  header ul > li > a {
    color: #050505;
    font-size: 1.5rem;
  }
  .add-post .saySomething {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
  }
  .add-post .saySomething img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
  }
  .add-post .saySomething input {
    margin-left: 6px;
    border: none;
    outline: none;
    font-size: .9rem;
    color: #050505;
  }
  .add-post .saySomething input::-webkit-input-placeholder {
    color: #050505;
  }
  .add-post .saySomething input:-ms-input-placeholder {
    color: #050505;
  }
  .add-post .saySomething input::-ms-input-placeholder {
    color: #050505;
  }
  .add-post .saySomething input::placeholder {
    color: #050505;
  }
  .add-post ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    border: 1px solid #e5e5e5;
  }
  .add-post ul > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    border-right: 1px solid #e5e5e5;
  }
  .add-post ul > li :last-child {
    border: none;
  }
  .add-post ul > li > a {
    color: #050505;
  }
  .add-post ul > li > a > span {
    margin-right: 5px;
  }
  .add-post ul > li > a .fa-video {
    color: #ef2848;
  }
  .add-post ul > li > a .fa-images {
    color: #44bd62;
  }
  .add-post ul > li > a .fa-camera-retro {
    color: #9d6dfc;
  }
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
/*# sourceMappingURL=screen.css.map */