@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;500;600;700;900&display=swap");
body {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  background-color: #c8ccd2;
  color: #050505;
}

@media (max-width: 750px) {
  .avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
  }
  header.mobile-main-header {
    background-color: #fefeff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.5rem;
  }
  header.mobile-main-header .mobile-main--logo {
    width: 200px;
  }
  header.mobile-main-header .mobile-main-header--menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.mobile-main-header .mobile-main-header--item {
    height: 36px;
    width: 36px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #e4e6eb;
    border-radius: 36px;
    margin-left: 0.5rem;
  }
  header.mobile-main-header .mobile-main-header--link {
    font-size: 100px;
  }
  section.say-something {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 14px;
  }
  section.say-something .up {
    padding: 1.5rem 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.say-something .up form {
    padding-left: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  section.say-something .up form input {
    border: none;
    width: 100%;
    padding: 0.5rem;
    color: black;
    outline: none;
    font-size: 1.2rem;
    letter-spacing: 0.02rem;
  }
  section.say-something .up form input::-webkit-input-placeholder {
    color: black;
    letter-spacing: 0.02rem;
  }
  section.say-something .up form input:-ms-input-placeholder {
    color: black;
    letter-spacing: 0.02rem;
  }
  section.say-something .up form input::-ms-input-placeholder {
    color: black;
    letter-spacing: 0.02rem;
  }
  section.say-something .up form input::placeholder {
    color: black;
    letter-spacing: 0.02rem;
  }
  section.say-something .down .say-something--menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  section.say-something .down .say-something--menu li:first-child > a > i {
    color: #f1284a;
  }
  section.say-something .down .say-something--menu li:nth-child(2) > a > i {
    color: #44bd62;
  }
  section.say-something .down .say-something--menu li:nth-child(3) > a > i {
    color: #9d6dfc;
  }
  section.say-something .down .say-something--item {
    border-left: 1px solid #e5e5e5;
    margin: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
  section.say-something .down .say-something--link {
    text-decoration: none;
    color: #050505;
    font-weight: 600;
  }
  section.say-something .down .say-something--link > i {
    margin-right: 0.5rem;
  }
  section.rooms {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 14px;
  }
}
/*# sourceMappingURL=screen.css.map */